.dropdown-trigger-box{
    display: flex;
    width: fit-content;
    height: fit-content
}
.dropdown-box{
    background-color: var(--clr-surface-2);

    .dropdown-container{
        border: 1px solid var(--clr-border);
        min-width: inherit;
        max-width: inherit;
        max-height: inherit;
        overflow: hidden;
        box-shadow: var(--box-shadow);

        &.rounded{
            border-radius: var(--space-100);
        }
        &.box{
            border-radius: var(--space-0);
        }
        &.circle{
            border-radius: var(--space-200);
        }

        .content-box{
            display: grid;
            gap: var(--space-150);
            
            max-height: inherit;
            overflow: hidden;
            .element-header-box{
                padding: var(--space-150);
                padding-bottom: var(--space-0);
            }

            .dropdown-body-box{
                margin: var(--space-150);
                overflow: auto;
            }

            .element-footer-box{
                padding: var(--space-150);
                padding-top: var(--space-0);
            }
        }
    }
}
