.three-column-template{
    display: grid;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    &.mobile{
        .doc-pages-box>div{
            padding: var(--space-400) var(--space-200);
        }
    }
    &.tablet{
        .left-side-content-box{
            padding: var(--space-400) var(--space-300);
        }
        .doc-pages-box>div{
            padding: var(--space-400) var(--space-300);
        }
    }
    
    .left-side-content-box{
        overflow: auto;
        max-height: 100%;
        padding: var(--space-600) var(--space-300);
    }

    .left-side-content-box-mobile{
        padding: var(--space-100) var(--space-200);
        border-bottom: 1px solid var(--clr-border);
    }

    .doc-pages-box{
        overflow: auto;
        max-height: 100%;
        display: flex;
        justify-content: center;
        >div{
            flex-grow: 1;
            padding: var(--space-600) var(--space-500);
            max-width: 720px;
        }
    }
    .right-side-content-box{
        overflow: auto;
        max-height: 100%;
        padding: var(--space-600) var(--space-300);
    }
}