.app-template{
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 100vw;

    .logo-box{
        display: flex;
    }
    .top-nav-box{
        display: flex;
        align-items: center;
        gap: var(--space-400);
        border-bottom: 1px solid var(--clr-border);
        padding: var(--space-100) var(--space-300);

        .nav-buttons-box{
            display: flex;
            flex-grow: 1;

            .top-nav-button{
                margin: 0px;
                padding: var(--space-25) var(--space-100);
                min-height: auto;
            }
        }

        .app-action-box{
            .top-nav-button{
                margin: 0px;
            }
        }
    }
}

.shape-toggle-button{
    .text-label-box{
        flex-grow: 1;
    }
}
.font-toggle-button{
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-100);
    .icon-before{
        margin: 0px;
        min-height: 20px;
        display: flex;
        align-items: center;
    }
    .icon-after{
        margin: 0px;
        margin-top: var(--space-100);
        min-height: 20px;
        display: flex;
        align-items: center;
    }
    .text-label-box{
        margin-top: var(--space-50);
    }
}