.input-tag-box{
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: max-content max-content;
    align-items: center;

    .input-tag-container{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 1px solid var(--clr-border);
        margin: var(--space-50);
        padding: 2.8px var(--space-500) 2.8px var(--space-200);
        background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--space-50);

        &.disabled{
            cursor: not-allowed;
            background-color: hsl(from var(--clr-surface-1) h s l / 0.7);
            border: 1px dashed var(--clr-border);

            background-image: repeating-linear-gradient(
                45deg,
                transparent,
                transparent 2px,
                hsl(from var(--clr-surface-4) h s l / 0.2) 4px
            );

            .input-tag{
                cursor: inherit;
                color: hsl(from var(--clr-text) h s l / 0.5);

                &::placeholder{
                    color: hsl(from var(--clr-surface-4) h s l / 1);
                }
            }
        }

        &.selected{
            background-color: hsl(from var(--clr-surface-primary-4) h s l / 0.3);
            border-color:  var(--clr-border-primary);
            
            .value-label-box{
                color: var(--clr-primary-900);
                .placeholder{
                    color: var(--clr-surface-primary-5);
                }
            }
        }

        &.error{
            border-color: var(--clr-danger-700);
        }

        &.rounded{
            border-radius: var(--space-100);
        }
        &.box{
            border-radius: var(--space-0);
        }
        &.circle{
            border-radius: var(--space-200);
            padding: var(--space-0) var(--space-300);

            &:has(.icon-before){
                padding-left: var(--space-250);
            }
            &:has(.icon-after){
                padding-right: var(--space-250);
            }
        }

        &:has(:focus-visible){
            outline: 2px solid var(--clr-focus-ouline);
            outline-offset: 2px;
        }

        .input-tag{
            color: var(--clr-text);
            border: 0px;
            outline: 0px;
            background-color: transparent;
            width: fit-content;
            flex-grow: 1;
            min-height: 24.4px;
            &::placeholder{
                color: var(--clr-surface-5);
            }
        }
    }

    .tag-box{
        display: flex;
        background-color: hsl(from var(--clr-surface-4) h s l / 0.3);
        border: 1px solid var(--clr-border);
        align-items: center;
        gap:var(--space-50);
        .tag-label{
            padding: var(--space-50) var(--space-25) var(--space-50) var(--space-100);
            font-size: var(--text-size-sm);
        }
        .icon-button{
            margin: 0px;
            padding: var(--space-50);
            height: auto;
            width: auto;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

            &:hover{
                background-color: var(--clr-surface-danger-4);
            }
        }
    }
    .lock-box{
        position: absolute;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        right: var(--space-200);
        height: fit-content;
        width: fit-content;
        display: flex;
        color: var(--clr-surface-4);
    }
    .caret-box{
        position: absolute;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        right: var(--space-200);
        height: fit-content;
        width: fit-content;
        display: flex;
        color: var(--clr-surface-4);
    }

    .clear-button{
        position: absolute;
        z-index: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        right: var(--space-400);
        height: fit-content;
        width: fit-content;

        .icon{
            color: var(--clr-surface-4);
        }

        &:hover, &:focus-visible{
            .icon{
                color: var(--clr-surface-5);
            }
        }
    }

    .before-element-box{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .after-element-box{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .error-box{
        grid-column: span 2;
        grid-row: 2 / 3;

        margin: var(--space-100);
        display: flex;
        align-items: center;
        gap: var(--space-100);
        color: var(--clr-danger-700);
    }
}

.input-tag-dropdown{
    margin: var(--space-50) 0px;
    // .input-select-search-bar-box{
    //     margin: var(--space-25) var(--space-50);
    // }

    // .empty-box{
    //     margin: var(--space-400) var(--space-150);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     >div{
    //         margin-top: var(--space-100);
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         gap:var(--space-50);
    //     }
    // }
}
