.radio-button{
    background-color: transparent;
    border: 1px solid transparent;
    outline: 0px;
    display: flex;
    gap: var(--space-100);
    margin: var(--space-50);
    cursor: pointer;

    &:focus-visible{
        outline: 2px solid var(--clr-focus-ouline);
        outline-offset: 2px;
        z-index: 1;
        .circle-indicator{
            background-color: hsl(from var(--clr-surface-4) h s l / 0.3);
        }
        
    }

    &:active{
        .text-label{
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    &:hover{
        .circle-indicator{
            background-color: hsl(from var(--clr-surface-4) h s l / 0.3);
        }
    }
    &.disabled, &:disabled{
        cursor: not-allowed;
        background-color: hsl(from var(--clr-surface-2) h s l / 0.5);
        border: 1px dashed var(--clr-border);

        .text-label{
            color: hsl(from var(--clr-text) h s l / 0.5);
        }
        .text-sublabel{
            color: hsl(from var(--clr-text) h s l / 0.5) !important;
        }

        background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 2px,
            hsl(from var(--clr-surface-4) h s l / 0.2) 4px
        );

        &:active{
            .text-label{
                text-decoration: none;
            }
        }
        
        &:hover, &:focus-visible, &:active{
            .circle-indicator{
                background-color: transparent;
            }
        }
    }

    &.rounded{
        border-radius: var(--space-100);
    }
    &.box{
        border-radius: var(--space-0);
    }
    &.circle{
        border-radius: var(--space-200);
    }
    

    .circle-indicator{
        border-radius: var(--space-400);
        height: var(--space-150);
        width: var(--space-150);
        margin-top: var(--space-25);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle-on{
        border: 1px solid var(--clr-primary-700);
        &::after{
            content: '';
            display: block;
            height: var(--space-100);
            width: var(--space-100);
            background-color: var(--clr-primary-700);
            border-radius: 100px;
        }
    }
    .circle-off{
        border: 1px solid var(--clr-border);
    }

    .label-box{
        p{
            text-align: start;
        }
        .text-sublabel{
            color: var(--clr-surface-5);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-normal);
            margin-top: var(--space-50);
        }
    }

    &.selected{
        .label-box{
            .text-label{
                color: var(--clr-primary-900);
            }
        }
    }
}